@charset "UTF-8";

.body, section, h3, h4, th, td, input, select, textarea, button {
	font-size: 13px;
	color: #333;
}

.pd_top {
	padding-top: 150px;
	height:260vh;
}

#sc_car {
	background-color: #f1f1f1;
}

div.body div.contents {
	min-height: 620px;
	padding-bottom: 10px;
	vertical-align: top;
}

.cont {
	width: 980px;
	margin: 0 auto;
}

div {
	text-align: left;
}

.tit {
	position: relative;
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
	padding-top: 9px;
	font-size: 27px;
	text-align: center;
	white-space: nowrap;
}

.box_g .tit_all {
    position: absolute;
    top: 327px;
    left: 39px;
    font-weight: normal;
    font-size: 15px;
    color: #000;
}

.page_other a {
	float: left;
	margin-left: 14px;
	font-size: 12px;
	line-height: 20px;
}

.page_other {
	overflow: hidden;
	position: absolute;
	top: -16px;
	right: 0;
}

/* 본문 */
.box_total .tit_subject {
	top: 313px;
}

.box_g .tit_subject {
	position: absolute;
	/* top: 327px; */
	left: 39px;
	font-weight: normal;
	font-size: 15px;
	color: #000;
}

.cont .box_total .area_detail {
	padding-top: 20px;
}

.box_g .area_detail {
	float: left;
	width: 510px;
}

.box_total .tit_summary {
	margin-bottom: 18px;
	font-size: 21px;
}

.box_g .tit_summary {
	display: block;
	overflow: hidden;
	font-weight: normal;
	font-size: 16px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cont .box_total:hover {
	border-color: #e8e8e8;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
}

.cont .box_total {
	overflow: hidden;
	height: auto;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 35px;
}

.contents_l02 .box_g {
	width: 980px;
	height: auto;
	margin-top: 19px;
	padding: 35px 38px 0 119px;
}

.box_g {
	position: relative;
	width: 938px;
	height: auto;
	padding: 20px 20px 40px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
	clear: both;
}

.box_total .area_thumb {
	float: left;
	margin: 0 0 4px -101px;
}

.box_g .area_thumb {
	overflow: hidden;
	position: relative;
	width: 940px;
	height: 266px;
}

.area_thumb .thumb_g {
	position: absolute;
	top: -60%;
	left: 0;
}

.thumb_g {
	display: block;
	width: 100%;
}

.box_total .area_review {
	padding: 50px 0 0;
}

.box_g .area_review {
	float: right;
	width: 280px;
	padding: 57px 0 30px;
	font-size: 12px;
}

.box_total .area_review .tit_total {
	float: left;
	margin-left: 60px;
	margin-top: 2px;
	font-size: 28px;
	color: #da072c;
	letter-spacing: -1px;
}

.blind {
	display: block !important;
	overflow: hidden !important;
	position: absolute !important;
	left: 0 !important;
	top: -10000px !important;
	width: 0 !important;
	height: 0 !important;
}

.box_total .area_review .rating_review {
	float: right;
	margin-top: 5px;
	font-size: 12px;
}

.box_total .detail_rating {
	margin: 0;
}

.detail_rating {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #f73c32;
}

.detail_rating .tit_rating {
	margin-right: 3px;
}

em {
	font-style: normal;
}

.box_total .area_review .ico_bar {
	margin: 0 6px 0 0;
}

.ico_bar {
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 4px;
	background-color: #ccc;
	vertical-align: -1px;
}

.link_cmt {
	color: #333;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}

/* 제원 */
.area_data {
	float: left;
	position: relative;
	width: 100%;
	border-top: 1px dashed #dadada;
}

.tit_g {
	position: relative;
	left: -70px;
	display: block;
	margin: 25px 0 13px;
	font-size: 15px;
	color: #000;
}

.tbl {
	width: 100%;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}

.tbl tr:first-child th, .tbl tr:first-child td {
	border-top: 0 none;
}

.tbl tbody th {
	font-weight: normal;
	background-color: #f7f7f7;
	text-align: left;
}

.tbl th, .tbl td {
	padding: 16px;
	border-top: 1px solid #d9d9d9;
	font-size: 12px;
	vertical-align: top;
	word-wrap: break-word;
}

/* 평점 */
.box_comment {
	margin-top: 26px;
	padding-bottom: 26px;
}

.box_comment .cmt_total {
	overflow: hidden;
	width: 100%;
}

.box_comment .tit_cmt {
	float: left;
	margin-left: 13px;
	margin-top: 3px;
	font-size: 16px;
	color: #525353;
}

.box_comment .cmt_rating {
	float: left;
	margin: 3px 0 0 8px;
	font-size: 17px;
}

.cmt_rating .rating_g {
	width: 84px;
	height: 15px;
	background-position: 0 -120px;
}

.rating_g {
	display: inline-block;
	width: px;
	height: 12px;
	margin: 1px 6px 0 0;
	background-position: 0 -20px;
	vertical-align: top;
}

/* 댓글 입력란 */
.box_comment .cmt_write {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 63px;
	margin-top: 18px;
	border-radius: 5px;
	background: #fff url(/images/mocha/bar_cmt.gif) no-repeat 148px 19px;
	clear: both;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
}

.cmt_write .opt_g {
	float: left;
	width: 122px;
	margin: 13px 20px;
	border-color: #fff;
	background-color: #fff;
}

.cmt_write .user_cmt {
    float: left;
    position: relative;
    margin: 9px 0 0 10px;
}

.user_cmt.off .txt_cmt {
    display: block;
}

.cmt_write .txt_cmt {
    display: none;
    position: absolute;
    top: 13px;
    left: 5px;
    color: #c0c0c0;
}

.contents_l02 .cmt_write .tf_cmt {
    width: 582px;
    margin-top: 13px;
}

.cmt_write .tf_cmt {
    display: inline-block;
    overflow-x: hidden;
    width: 737px;
    height: 39px;
    padding: 4px 0px 0 5px;
    border: 0 none;
    background-color: #fff;
    resize: none;
}

.cmt_write .txt_num {
    position: absolute;
    top: 20px;
}

.user_cmt.off .btn_cmt {
    background-color: #959595;;
}

.cmt_write .btn_cmt {
    width: 120px;
    height: 45px;
    margin-left: 4px;
    font-size: 14px;
    vertical-align: top;
    margin: 9px 55px;
    border: none;
}

/* 별점 입력란 */
@import
	url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rate {
	display: inline-block;
	border: 0;
	margin-left: 6px;
	margin-top: 3px;
}

.rate>input {
	display: none;
}

.rate>label {
	float: right;
	color: #ddd
}

.rate>label:before {
	display: inline-block;
	font-size: 1rem;
	padding: .3rem .2rem;
	margin: 0;
	cursor: pointer;
	font-family: FontAwesome;
	content: "\f005 ";
}

/* .rate .half:before {
	content: "\f089 ";
	position: absolute;
	padding-right: 0;
} */

.rate input:checked ~ label, .rate label:hover, .rate label:hover ~
	label {
	color: #f73c32 !important;
}

.rate input:checked+.rate label:hover, .rate input input:checked ~ label:hover,
	.rate input:checked ~ .rate label:hover ~ label, .rate label:hover ~
	input:checked ~ label {
	color: #f73c32 !important;
}

/* 댓글 확인 */

.box_comment .list_comment {
    width: 100%;
}

.box_comment .list_comment li {
    position: relative;
    margin-top: 10px;
    padding: 26px 80px 26px 25px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.03);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.03);
}

.list_comment .detail_rating {
    font-size: 14px;
    color: #333;
}

.list_comment .desc_cmt {
    margin-top: 11px;
    color: #666;
}

.list_comment .txt_date {
    display: block;
    margin-top: 3px;
    font-size: 11px;
    color: #959595;
}

/* 디자인 구역 */



}
.area_summary {
    float: left;
    width: 510px;
    border-bottom: 1px solid #fff;
}

.area_detail {
    float: left;
    width: 510px;
}

.list_detail {
    overflow: hidden;
    width: 100%;
    margin-left: -10px;
}

.list_detail li {
    float: left;
    position: relative;
    width: 160px;
    margin: 0 0 10px 10px;
}

.list_detail .link_thumb {
    display: block;
    overflow: hidden;
    height: 100px;
    border: 1px solid #dbdee0;
}

.link_thumb {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

.list_detail .link_thumb .frame_g {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    background-color: #d02931;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.star {
	color: #f73c32;
    font-size: 12px;
}

.delete {
	float:right;
	border: none;
	background: none;
	cursor: pointer;
}