@charset "UTF-8";

.pn_title {
	background-color: #f8f8f8;
	border-bottom: solid 1px #dadbdc;
	border-top: solid 1px #dadbdc;
}

.info {
	color: #697278;
	padding-left: 10px;
	line-height: 1.75;
	list-style: inside;
	margin-top: 20px;
}

.pn_info {
	width: 90%;
	text-align: left;
	margin-bottom: 20px;
}

.pn_button {
	cursor: pointer;
}

.link {
	background: none !important;
	color: #333 !important;
	border: none !important;
}
.co_in{
	margin-top: 20px;
}