@charset "UTF-8";
/* all */
.mypage-form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.mb {
	margin-bottom: 50px;
}
.wd  {
	width:100px;
}
.wd2 {
	width: 300px;
}
/*loginform*/
.login-form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-form h1 {
	font-size: 32px;
	color: #000;
	text-align: center;
	margin-bottom: 60px;
}

.int-area {
	width: 400px;
	position: relative;
}

.int-area:first-child {
	margin-top: 0;
}

.int-area input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: #999;
	outline: none;
}

.int-area label {
	position: absolute;
	left: 10px;
	top: 15px;
	color: #999;
	transition: all.35s ease;
}

.int-area label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}

@
keyframes warning { 0% {
	transform: translateX(-8px);
}

20
%
{
transform
:
translateX(
8px
);
}
50
%
{
transform
:
translateX(
-8px
);
}
75
%
{
transform
:
translateX(
-8px
);
}
}
.int-area input:focus+label, .int-area input:valid+label {
	top: -2px;
	font-size: 13px;
	color: #000;
}

.btn-area {
	margin-top: 30px;
}

.btn-area button {
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.caption {
	margin-top: 20px;
	text-align: center;
}

.caption a {
	font-size: 15px;
	color: #999;
	text-decoration: none;
}

.caption a:first-child {
	margin-right: 5px;
}

/*loginform*/

/* myPage */
.myinfo-wrap {
	width: 100%;
	padding: 16px;
	border: 1px solid #ddd;
	overflow: hidden;
	margin: 0 0 120px;
}

.myinfo-wrap .quart-box {
	width: 25%;
	float: left;
	border-right: 1px solid #ddd;
	padding: 15px 30px;
}

.myinfo-wrap .quart-box:last-of-type {
	border-right: 0;
}

.myinfo-wrap .quart-box .quart-title {
	font-size: 1rem;
	font-weight: 500;
	color: #111;
	margin: 0 0 1.6rem;
}

.myinfo-wrap .quart-box .quart-description {
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.myinfo-wrap .quart-box .more-btn a {
	font-size: 13px;
	color: #666; 
	font-weight: 400;
}